{% extends "base.html" %}

{% block title %}
Eliminar alimento - Zero Food Waste
{% endblock %}

{% block content %}
<h2>Eliminar alimento</h2>

<p>
  ¿Seguro que quieres eliminar el alimento
  <strong>{{ alimento.nombre }}</strong>?
</p>

<p>
  Esta acción no se puede deshacer.
</p>

<form method="post">
  {% csrf_token %}

  <p class="actions">
    <button class="danger-button" type="submit">Sí, eliminar</button>
    <a class="button-link secondary-button" href="{% url 'despensa:listado_alimentos' %}">
      Cancelar
    </a>
  </p>
</form>
{% endblock %}